./
snapshot-*
backup/*
cursor.txt
docker_compose_autobuilds.code-workspace
docker-compose-generated.yml
docker-compose-generated-hyperion.yml
docker-compose-generated-atomic.yml
docker-compose-generated.yml
elasticsearch/*
not-upload-to-merge/*
/haproxy/haproxy*
generate_hyperion_compose copy 2.py
generate_hyperion_compose copy.py
